<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Colors</title>
    <link rel="stylesheet" href="./public/styles/style.css">
  </head>
  <body>


  <header>
    <h1>Web Colors</h1>


    <nav>
      <ul>
        <li> <a href="/"> Home </a></li>
      </ul>
    </nav>

  </header>
  <!-- body is a variable that contains the page being rendered -->
  <%- body -%>

  <footer>
    Made with &hearts; at Ironhack.
  </footer>

  </body>
</html>
